{% load static %}
{% load blog_tags %}

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">
            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">
                    <!-- Messages vs Tags -->
                    <div class="container">

                        {% if tag %}
                            <h3 class="text-center mt-3" style="font-family: 'Ubuntu', sans-serif; color: black;">
                                Posts tagged with
                                <span class="badge badge-success">#{{ tag.name }}</span>
                            </h3>
                        {% endif %}

                        {% if category %}
                            <h3 class="text-center mt-3" style="font-family: 'Ubuntu', sans-serif; color: black;">
                                Posts by category
                                <span class="badge badge-success">{{ category.title }}</span>
                            </h3>
                        {% endif %}

                        {% if messages %}
                            <ul class="alert alert-success" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Posts List -->

                    <div class="category">

                        <div class="section_content">

                            {% for post in posts %}
                                <div class="card mb-4">

                                    {% if post.image %}
                                        <img class=" card-img-top" src="{{ post.image.url }}" alt="">
                                    {% else %}
                                        <img class=" card-img-top" src="https://i.imgur.com/4Y5V00u.jpg" alt="">
                                    {% endif %}

                                    <div class="card-body">
                                        <div class="card-title card-title-small">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </div>
                                        <div class="card-title card-title-small">
                                            <p>{{ post.body|markdown|truncatewords_html:30 }}</p>
                                        </div>
                                        <small class="post_meta">
                                            <a href="#">{{ post.author }}</a>
                                            <span>{{ post.publish }}</span>
                                        </small>
                                    </div>
                                </div>
                            {% empty %}
                                <h3>There are no posts yet.</h3>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {% if is_paginated %}
                    <div class="load_more">
                        {% include 'includes/pagination.html' %}
                    </div>
                {% endif %}

            </div>

            {% block sidebar %}
                <!-- Sidebar -->
                {% include 'includes/sidebar.html' %}
            {% endblock %}

        </div>
    </div>
</div>