{% load static %}

{% for post in most_commented_posts %}
    <div class="side_post">
        <a href="{{ post.get_absolute_url }}">
            <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                <div class="side_post_image">
                    <div style="width: 100%; height: 120%;">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="">
                        {% else %}
                            <img src="https://i.imgur.com/4Y5V00u.jpg" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="side_post_content">
                    <div class="side_post_title">
                        <p style="color: black;">{{ post.title }}</p>
                    </div>
                    <small class="post_meta">{{ post.author }}
                        <span>{{ post.publish }}</span>
                    </small>
                </div>
            </div>
        </a>
    </div>
{% endfor %}