{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Posts</title>
{% endblock %}

{% block content %}
    <!-- Home -->

    <div class="home" style="height: 50vh;">
        <div class="home_background parallax-window" data-parallax="scroll"
             style="background-image:url(https://wallpaperaccess.com/full/156556.jpg); height: 500px;"
             data-speed="0.8">
        </div>
    </div>

    <!-- Page Content -->
    {% include 'includes/posts_content.html' %}

{% endblock %}